<!-- contact-form.component.html -->
    <form (ngSubmit)="submitForm()" class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput type="text" [(ngModel)]="formData.firstname" name="firstname" required>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" [(ngModel)]="formData.lastname" name="lastname" required>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="formData.gender" name="gender" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
        </mat-select>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <mat-label>Telephone</mat-label>
        <input matInput type="tel" [(ngModel)]="formData.telephone" name="telephone" required>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="formData.email" name="email" required>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput [(ngModel)]="formData.address" name="address" required></textarea>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form> 